@keyframes scrollLeft {
  to {
    left: -400px;
  }
}

.wrapper {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  left: max(calc(400px * 3), 100%);
  animation-name: scrollLeft;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(25s / 3 * (3 - 1) * -1);
}

.item2 {
  animation-delay: calc(25s / 3 * (3 - 2) * -1);
}

.item3 {
  animation-delay: calc(25s / 3 * (3 - 3) * -1);
}

@media screen and (min-width: 1024px) {
  .background-mask {
    background:
      url("/src/assets/svg/leaf-bg-top.svg") top left no-repeat,
      url("/src/assets/svg/leaf-bg-bottom.svg") bottom right no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  div:hover > .animate-background {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    &.green {
      animation-name: bgChangeGreen;
    }

    &.black {
      animation-name: bgChangeBlack;
    }
  }
}

@keyframes bgChangeGreen {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  to {
    background-image: url(/src/assets/img/tea-leaves-green.png);
    opacity: 100%;
  }
}

@keyframes bgChangeBlack {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  to {
    background-image: url(/src/assets/img/tea-leaves-black.png);
    opacity: 100%;
  }
}
