@media screen and (max-width: 600px) {
  .background-slide {
    animation-duration: 2s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    p {
      mix-blend-mode: difference;
    }
  }

  .content-slide {
    animation: none;
  }
}

@media screen and (min-width: 1024px) {
  .background-slide {
    animation-duration: 1.5s;
    animation-name: slideDown;
    animation-fill-mode: forwards;
  }

  .content-slide {
    animation-duration: 1.5s;
    animation-name: slideUp;
    animation-fill-mode: forwards;
  }
}

@keyframes slideIn {
  from {
    background-position: top 50px left 63%;
  }
  to {
    background-position: top 50px left 57%;
  }
}

@keyframes slideUpAndFadeIn {
  from {
    transform: translateY(50%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30%) scale(0.95);
  }
  to {
    transform: translateY(10%) scale(1);
  }
}

@keyframes slideDown {
  from {
    background-position: top 65% right;
  }
  to {
    background-position: top 40% right;
  }
}
