@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Clash Display";
    src: url(/src/assets/fonts/ClashDisplay_Complete/TTF/ClashDisplay-Variable.ttf);
  }

  @font-face {
    font-family: "Satoshi";
    src: url(/src/assets/fonts/Satoshi/TTF/Satoshi-Variable.ttf);
  }

  @font-face {
    font-family: "Palanquin Dark";
    font-weight: 400;
    src: url(/src/assets//fonts/PalanquinDark//TTF/PalanquinDark-Regular.ttf);
  }
}
